# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/*
!.vscode/extensions.json
.cursor/
.codex/
.nova/
.zed/

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# General logs
*.log

## Backend (root) — START
.env
.env.backup
.env.production

.phpactor.json
.phpunit.result.cache
.phpunit.cache
auth.json

node_modules/
vendor/

public/build/
public/fonts-manifest.dev.json
public/hot
public/storage

storage/*.key
storage/pail

_ide_helper.php
Homestead.json
Homestead.yaml
## Backend (root) — END

## Frontend — START
# Logs
/frontend/logs/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

/frontend/node_modules/
/frontend/dist/
/frontend/dist-ssr/
/frontend/coverage/
/frontend/*.local
/frontend/*.tsbuildinfo
/frontend/.eslintcache
/frontend/*.timestamp-*-*.mjs

# Playwright
/frontend/test-results/
/frontend/playwright-report/

# Vitest
/frontend/__screenshots__/
## Frontend — END