# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/*
!.vscode/extensions.json
.cursor/
.codex/
.nova/
.zed/

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# General logs
*.log

.env
.env.backup
.env.production

.phpactor.json
.phpunit.result.cache
.phpunit.cache
auth.json

node_modules/
vendor/

public/build/
public/fonts-manifest.dev.json
public/hot
public/storage

storage/*.key
storage/pail

_ide_helper.php
Homestead.json
Homestead.yaml
